:root {
  --primary: #18a0fb;
  --secondary: #065f9b;
}

.top-nav {
  background-color: var(--primary);
}
.nav-tabs {
}
.nav-link {
  color: white;
  font-size: 1.4vw;
}
.wrapper-section {
  background-color: #ffffff;
  height: 84vh;
}
#wrapper-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wrapper-text p {
  margin-top: 14vw;
  font-size: 1.2vw;
}
#wrapper-text p span {
  color: var(--secondary);
  font-size: 1.2vw;
  font-weight: 800;
}
#wrapper-text p span a {
  color: var(--secondary);
  font-size: 2vw;
  font-weight: 800;
}
#wrapper-text,
#profile-img {
}

.skills {
  height: 60vh;
  background-color: #f9f9ff;
  padding-left: 13vw;
  padding-top: 5vw;
}
#skill-text {
  display: flex;
  flex-direction: column;
}
#skill-text .title {
  font-size: 2.5vw;
  color: var(--primary);
}
#skill-text .content {
  font-size: 1.6vw;
}
.skillset {
}
.status {
  padding-top: 2vw;
}
.s-type {
  font-size: 1.1vw;
  font-weight: 900;
}
.design {
  height: 10px;
  width: 400px;
  /* background-color: red; */
  box-shadow: 0px 0px 3px var(--primary);
}
.inner-percent {
  background-color: var(--secondary);
  height: 100%;
}
