:root {
  --primary: #18a0fb;
  --secondary: #065f9b;
}
body {
  overflow-x: hidden;
}

.top-nav {
  background-color: var(--primary);
}
.navbar-brand {
  font-size: 2vw;
  color: white;
  font-weight: 900;
  margin-left: 2vw;
}
.nav-tabs {
  margin-left: 29vw;
}
.nav-link {
  color: white;
  font-size: 1.4vw;
  margin-left: 3vw;
  font-weight: 700;
}
.nav-link a:hover {
  background-color: red;
}
.wrapper-section {
  background-color: #ffffff;
  height: 90vh;
}
#wrapper-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wrapper-text p {
  margin-top: 14vw;
  font-size: 1.2vw;
}
#wrapper-text p span {
  color: var(--secondary);
  font-size: 1.2vw;
  font-weight: 800;
}
#wrapper-text p span a {
  color: var(--primary);
  font-size: 2vw;
  font-weight: 800;
}

#wrapper-text .button {
  padding-top: 2vw;
}
#wrapper-text .button button {
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  height: 3vw;
  width: 8vw;
}
#wrapper-text .button .hire {
  background-color: transparent;
  border: 1px solid var(--primary);
  margin-left: 2vw;
}
#profile-img img {
  width: 400px;
  max-height: 90vh;
}
.skills {
  height: 60vh;
  background-color: #f9f9ff;
  padding-left: 13vw;
  padding-top: 5vw;
}
#skill-text {
  display: flex;
  flex-direction: column;
}
#skill-text .title {
  font-size: 2.5vw;
  color: var(--primary);
}
#skill-text .content {
  font-size: 1.6vw;
}
.skillset {
}
.status {
  padding-top: 2vw;
}
.s-type {
  font-size: 1.1vw;
  font-weight: 900;
}
.design {
  height: 10px;
  width: 400px;

  box-shadow: 0px 0px 3px var(--primary);
}
.inner-percent {
  background-color: var(--secondary);
  height: 100%;
}
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .title {
  font-size: 2vw;
  font-weight: 900;
}
.r-services .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5vw;
}

.r-services .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.r-services .card-img-top {
  width: 5vw;
}
.r-services .card-title {
  color: var(--primary);
  font-weight: bold;
}
.r-services .card-text {
  text-align: center;
}
.projects {
  padding-left: 3vw;
  margin-bottom: 3vw;
}
.proj {
  box-shadow: 1px 1px 5px grey;
  margin-left: 5%;

  width: 25%;
}
.project1 {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.project1 .card-body {
  padding-bottom: 3vw;
}
.projects .title {
  font-size: 2vw;
  font-weight: 900;
  text-align: center;
}
.projects .card-img-top {
  width: 20vw;
  height: 28vw;
  object-fit: fit;
  padding-top: 2vw;
}
#btn-view {
  width: 8vw;
  height: 2vw;
  text-align: center;
  background-color: var(--secondary);
  font-weight: 900;
}
.project1 .card-title {
  color: var(--secondary);
  font-weight: bold;
}
footer {
  background-color: var(--secondary);
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 6vw;
}

footer .topic {
  color: white;
  font-weight: 900;
}
footer .contact form {
  align-items: center;
  display: flex;
  flex-direction: row;
}
footer .contact textarea {
  height: 2.8vw;
  width: 15vw;
  border-radius: 5px;
  padding-top: 1.2vw;
  border: none;
  right: 30vw;
}
footer .contact button {
  border: none;
  background-color: var(--primary);
  height: 2.9vw;
  border-radius: 5px;
  width: 6vw;
  left: 20px;
}

.social ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social ul li {
  list-style: none;
}
.copy-right {
  background-color: var(--secondary);
  text-align: center;
  padding-bottom: 1vw;
}

/* about page */
.edu {
  width: 60vw !important;
  margin: auto;
}
.edus {
  background-color: #f9f9ff;
  margin-top: 2vw;
  box-shadow: 2px 2px 5px grey;
  padding: 1.2vw 1.1vw 1.2vw;
}
.about-me {
  width: 58vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-me h3 {
  font-size: 2vw;
}
.certifications {
  margin-bottom: 2vw;
}
