:root {
  --primary: #18a0fb;
  --secondary: #065f9b;
}

.top-nav {
  background-color: var(--primary);
}
.nav-tabs {
}
.nav-link {
  color: white;
  font-size: 1.4vw;
}
.wrapper-section {
  background-color: #ffffff;
  height: 84vh;
}
#wrapper-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wrapper-text p {
  margin-top: 14vw;
  font-size: 1.2vw;
}
#wrapper-text p span {
  color: var(--secondary);
  font-size: 1.2vw;
  font-weight: 800;
}
#wrapper-text p span a {
  color: var(--secondary);
  font-size: 2vw;
  font-weight: 800;
}
#wrapper-text,
#profile-img {
}

.skills {
  height: 60vh;
  background-color: #f9f9ff;
  padding-left: 13vw;
  padding-top: 5vw;
}
#skill-text {
  display: flex;
  flex-direction: column;
}
#skill-text .title {
  font-size: 2.5vw;
  color: var(--primary);
}
#skill-text .content {
  font-size: 1.6vw;
}
.skillset {
}
.status {
  padding-top: 2vw;
}
.s-type {
  font-size: 1.1vw;
  font-weight: 900;
}
.design {
  height: 10px;
  width: 400px;

  box-shadow: 0px 0px 3px var(--primary);
}
.inner-percent {
  background-color: var(--secondary);
  height: 100%;
}
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .title {
  font-size: 2vw;
  font-weight: 900;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5vw;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-img-top {
  width: 5vw;
}
.card-title {
  color: var(--primary);
  font-weight: bold;
}
.card-text {
  text-align: center;
}
footer {
  background-color: var(--secondary);
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 6vw;
}
footer .col-lg-4 {
}
footer .topic {
  color: white;
  font-weight: 900;
}
footer .contact form {
  align-items: center;
  display: flex;
  flex-direction: row;
}
footer .contact textarea {
  height: 2.8vw;
  width: 15vw;
  border-radius: 5px;
  padding-top: 1.2vw;
  border: none;
  right: 30vw;
}
footer .contact button {
  border: none;
  background-color: var(--primary);
  height: 2.9vw;
  border-radius: 5px;
  width: 6vw;
  left: 20px;
}
/* footer .contact button {
  background-color: red;
  height: 3vw;
  margin-top: 2vw;
} */
.social ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social ul li {
  list-style: none;
}
.copy-right {
  background-color: var(--secondary);
  text-align: center;
  padding-bottom: 1vw;
}
